<ion-content [fullscreen]="true">
  <div class="tela">
    <div class="calculo">
      <div [innerHTML]="visor" class="visor"></div>
      <div [innerHTML]="temp" class="temp" *ngIf="visor !== ''"></div>
      <div class="barra">
        <button class="laranja" (click)="apagar()">
          <ion-icon name="backspace-outline"></ion-icon>
        </button>
      </div>
    </div>

    <div class="teclado">
      <div class="linha">
        <button (click)="limpar()" class="laranja">c</button>
        <button (click)="seleciona('(')" class="laranja">(</button>
        <button (click)="seleciona(')')" class="laranja">)</button>
        <button (click)="seleciona('+')" class="laranja">&plus;</button>
      </div>
      <div class="linha">
        <button (click)="seleciona('1')">1</button>
        <button (click)="seleciona('2')">2</button>
        <button (click)="seleciona('3')">3</button>
        <button (click)="seleciona('-')" class="laranja">&minus;</button>
      </div>
      <div class="linha">
        <button (click)="seleciona('4')">4</button>
        <button (click)="seleciona('5')">5</button>
        <button (click)="seleciona('6')">6</button>
        <button (click)="seleciona('*')" class="laranja">&times;</button>
      </div>
      <div class="linha">
        <button (click)="seleciona('7')">7</button>
        <button (click)="seleciona('8')">8</button>
        <button (click)="seleciona('9')">9</button>
        <button (click)="seleciona('/')" class="laranja">&divide;</button>
      </div>
      <div class="linha">
        <!-- <button (click)="seleciona('%')" class="laranja">%</button> -->
        <button (click)="seleciona('0')" class="btn-lg">0</button>
        <button (click)="seleciona('.')">.</button>
        <button (click)="seleciona('calc')" class="btn-destaque">&equals;</button>
      </div>
    </div>
  </div>
</ion-content>