:host {
  --bg: #101010;
  --bg-btn: #212121;
  --bg-btn-active: #454545;
  --laranja: #ee3f00;
}

.div-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visor {
  background-color: var(--bg);
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: end;
  padding: 20px;
  font-size: 40px;
  flex-direction: column;
  text-align: end;
}

.barra {
  text-align: right;
  display: flex;
  align-items: end;
  margin-top: 10px;
  justify-content: end;
}

.teclado {
  background-color: var(--bg);
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.btn {
  background-color: var(--bg-btn);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 5px;
}

.laranja {
  color: var(--laranja);
}

.operadores {
  font-size: 40px;
}

.btn:active {
  background-color: var(--bg-btn-active);
}

.resultado {
  font-size: 25px;
  color: #767676;
  margin-top: 10px;
  height: 32px;
}

.box-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(92 92 92 / 40%);
}

.modal {
  background-color: #1f1f1f;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 275px;
  font-size: 20px;
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.btn-modal {
  padding: 10px 15px;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  float: right;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}

.rainbow {
  content: '';
  background: linear-gradient(90deg, #ff6a00, #8300ee 50%, #ff6a00);
  background-size: 300%;
  border-radius: 8px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  animation: rainbow 4s linear infinite;
}

.btn-interno {
  padding: 0;
  background-color: var(--bg-btn);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

@keyframes rainbow {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 300%;
  }
}